.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-right: 0;
	margin-left: 0;
}

.content-wrapper {
	display: flex;
	justify-content: space-evenly;
	height: 89.216656016%;
}

.lesser-wrapper {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 7%
}

.lesser-wrapper2 {
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 7%;
	width: 5%;
	left: 0;
	position: relative
}

.box-wrapper {
	display: flex;
	height: 4.96195831955%;
	padding: 4.89332550401%;
}

.sider {
	width: 7%;
	background: linear-gradient(to left, grey, lightgrey, lightgrey, lightgrey, lightgrey, lightgrey, lightgrey, grey)
}

.up-and-down {
	display: block;
	width: 80%;
	height: 100%;
}

.upper-interface {
	display: flex;
	justify-content: space-around;
	padding: 1.70927648768%;
	height: 4.64620306192%;
}

.canvas {
	width: 100%;
	height: 97.2732366308%;
}

.sliders-box {
	font-family: sans-serif;
	width: 100%;
	height: 48.6366183154%;
	display: block
}

.graph-canvas {
	width: 100%;
	height: 48.6366183154%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 7.8648233486943164362519201228879%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.58986175115207373271889400921659% 0.78648233486943164362519201228879%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
	margin: 0;
}

p {
	text-align: center;
}

input {
    color: #000;
}

a {
    width: 2.4577572964669738863287250384025%;
}